<%= turbo_frame_tag comment do %>
  <article class="media">
    <figure class="media-left ml-1 is-hidden-mobile">
      <p class="image is-48x48">
        <%= image_tag comment.user.avatar.variant(resize_to_fill: [48, 48]), class: "is-rounded" %>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= link_to comment.user.username, comment.user, class: "has-text-dark", data: { turbo_frame: "_top" } %></strong>
          <small> · Posted <%= time_ago_in_words(comment.created_at) %> ago</small>
          <br>
          <%= simple_format(comment.body) %>
        </p>
      </div>
    </div>
    <div class="media-right">
      <% if user_signed_in? && current_user == comment.user %>
        <%= render '/comments/comment_controls', comment: comment, post: post %>
      <% end %>
    </div>
  </article>
<% end %>