<%= turbo_frame_tag id="new_comment" do %>
  <%= form_with model: [post, comment], data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" } do |comment_form| %>
    <div class="field has-addons">
      <div class="control is-expanded">
        <%= comment_form.label :body, class: "is-hidden" %>
        <%= comment_form.text_field :body, class: "input is-fullwidth", placeholder: "Leave a comment..." %>
      </div>
      <div class="control">
        <%= comment_form.submit class: "button is-link" %>
      </div>
    </div>
    <% if comment.errors.any? %>
      <% comment.errors.full_messages.each do |msg| %>
        <p class="help is-danger mt-1"><%= msg %></p>
      <% end %>
    <% end %>
  <% end %>
<% end %>