<%= turbo_frame_tag post do %>
  <div class="box mb-4">
    <article class="media">
      <figure class="media-left ml-1">
        <p class="image is-64x64">
          <%= image_tag post.user.avatar.variant(resize_to_fill: [64, 64]), class: "is-rounded" %>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><%= link_to post.user.username, post.user, class: "has-text-dark", data: { turbo_frame: "_top"} %></strong>
            <small> · Posted <%= time_ago_in_words(post.created_at) %> ago <%= "· Edited" if post.edited? %></small>
            <br>
            <%= image_tag post.photo, class: "mt-5", style: "max-height: 500px" if post.photo.attached? %>
            <%= simple_format(post.body) %>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <%= turbo_frame_tag "post_#{post.id}_likes" do %>
              <%= render 'posts/post_likes', post: post %>
            <% end %>
          </div>
        </nav>
        <div id=<%= "post_#{post.id}_comments" %> class="mb-5">
          <% post.comments.each do |comment| %>
            <%= render 'comments/comment', comment: comment, post: post %>
          <% end %>
        </div>
        <%= render 'comments/comment_form', comment: @new_comment, post: post %>
      </div>
      <div class="media-right">
        <% if user_signed_in? && current_user == post.user %>
          <%= render 'posts/post_controls', post: post %>
        <% end %>
      </div>
    </article>
  </div>
<% end %>