<% posts.each do |post| %>
  <div class="box">
    <div class="content">
      <h5><%= post.user.email %></h5>
      <p><%= simple_format(post.body) %></p>
    </div>
    <div>
      <%= "#{post.likes_count} people like this." %>
      <hr>
      <% if post.likes.exists?(user_id: current_user) %>
        <%= link_to "Dislike", post_like_path(post), method: :delete, data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to "Like", post_like_path(post), method: :post, data: { turbo_method: :post } %>
      <% end %>
    </div>
    <hr>
    <% post.comments.each do |comment| %>
      <div class="content">
        <h6><%= comment.user.email %></h6>
        <p><%= simple_format(comment.body) %></p>
      </div>
    <% end %>
    <div>
      <%= form_with model: [post, comment] do |comment_form| %>
        <div class="field has-addons">
          <div class="control is-expanded">
            <%= comment_form.label :body, class: "is-hidden" %>
            <%= comment_form.text_field :body, class: "input is-fullwidth", placeholder: "Leave a comment..." %>
          </div>
          <div class="control">
            <%= comment_form.submit class: "button is-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>