<%= turbo_frame_tag post do %>
  <div class="box mb-4">
    <div class="content">
      <nav class="level">
        <div class="level-left">
          <h5><%= link_to post.user.username, post.user, class: "has-text-dark", data: { turbo_frame: "_top"} %></h5>
        </div>
        <% if user_signed_in? && current_user == post.user %>
          <%= render 'posts/post_controls', post: post %>
        <% end %>
      </nav>
      <p><%= simple_format(post.body) %></p>
    </div>
    <%= render 'posts/post_likes', post: post %>
    <hr>
    <div id=<%= "post_#{post.id}_comments" %> class="mb-5">
      <% post.comments.each do |comment| %>
        <%= render 'comments/comment', comment: comment, post: post %>
      <% end %>
    </div>
    <%= turbo_frame_tag "new_comment" do %> 
      <%= render 'comments/comment_form', comment: @new_comment, post: post %>
    <% end %>
  </div>
<% end %>