<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebookClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar mb-4" role="navigation" aria-label="main navigation">
      <div class="navbar-start">
        <%= link_to "Home", root_path, class: "navbar-item" %>
        <%= link_to "Profile", user_path(current_user), class: "navbar-item" %>
      </div>
      <div class="navbar-end">
        <% if user_signed_in? %>
          <%= link_to "Friends List", friendships_path, class: "navbar-item" %>
          <%= link_to "Find New Friends", users_path, class: "navbar-item" %>
          <%= link_to "Friend Requests", friend_requests_path, class: "navbar-item" %>
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "button is-light" %>
            </div>
          </div>
        <% else %>
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to new_user_registration_path, class: "button is-primary" do %>
                <strong>Sign up</strong>
              <% end %>
              <%= link_to "Log in", new_user_session_path, class: "button is-light"%>
              <%= button_to user_github_omniauth_authorize_path, class: "button is-light mb-2", data: { turbo: "false" } do %>
                <i class="fab fa-github"></i><span class="ml-2">Sign in with Github</span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </nav>

    <div class="container mb-4">
      <% if flash[:alert] %>
        <article class="message is-danger">
          <div class="message-body">
            <%= alert %>
          </div>
        </article>
      <% end %>
      <% if flash[:notice] %>
        <article class="message is-success">
          <div class="message-body">
            <%= notice %>
          </div>
        </article>
      <% end %>
    </div>

    <div class="content"><%= yield %></div>

    <% if user_signed_in? %>
      <div><%= "Logged in as #{current_user.email}" %></div>
    <% end %>
  </body>
</html>
