<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebookClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-start">
        <%= link_to "Home", root_path, class: "navbar-item" %>
      </div>
      <div class="navbar-end">
        <%= link_to "Find Friends", users_path, class: "navbar-item" %>
        <%= link_to "Friend Requests", friend_requests_path, class: "navbar-item" %>
        <div class="navbar-item">
          <div class="buttons">
            <% if user_signed_in? %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "button is-light" %>
            <% else %>
              <%= link_to new_user_registration_path, class: "button is-primary" do %>
                <strong>Sign up</strong>
              <% end %>
              <%= link_to "Log in", new_user_session_path, class: "button is-light"%>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <div class="content"><%= yield %></div>
    <div><%= "Logged in as #{current_user.email}" %></div>
  </body>
</html>
